/* You can add global styles to this file, and also import other style files */
/* Fundo preto */
body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    overflow: hidden; /* Evita rolagem indesejada */
}